
 
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+JP:wght@500&family=Phudu:wght@300&family=Tourney&display=swap');


/* 
    font-family: 'Courgette', cursive;

    

    font-family: 'Phudu', cursive;

     */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{

  padding: 5rem;
  background-color: #1b1b1b;
  display: grid;
  grid-template-areas: 2fr;
  gap: 1rem, 3rem;
  height: 100vh;
}

img{
  border: #31bf85 solid; 
  border-radius: 20px;
  grid-area: 1;
  justify-self: center;
  align-self: center;
  height: 20rem;
}
h1{
  font-size: 4.6rem;
  font-family: 'Tourney', cursive;
  color: #31bf85;
  text-transform: uppercase;
  border: #31bf85 solid 0.3rem;
  padding: .4rem;
  border-radius: 20px;
  grid-area: 1;
  align-self: center;
  justify-self: center;
}
h1:hover{
  transition: 1s;
  color: #cf6712;
}


.links{
  display: flex;
  grid-area: 6;
  justify-self: center;
  align-self: center;
  border: #31bf85 solid;
  border-radius: 20px;
  gap: 3rem;
  padding: 3rem;
}
.link a{
  text-decoration: line-through;
  color: #31bf85;
  font-size: 30px;
  font-family:  'Phudu', cursive;
}
.link a:hover{
  transition: 0.8s;
  color: #cf6712;
}


